$primary-color: #f5f6f6;
$card-color: #EAEAEA;
$hover: 0 0 20px rgba(0, 0, 0, 0.2);

$margin-padding: 20px;
$margin-form-check: 40px;
$padding-design-service: 50px;

$font-btn: #fff;
$button-color: #000;

.container-fluid {
	background-color: $primary-color;
}

h2, h6 {
		margin-left: $margin-padding;
		padding: $margin-padding;
}

.input-group {
	margin: $margin-padding;
}

.form-check {
	margin-left: $margin-form-check;
}

.designService {
	padding: $padding-design-service;
}

.card-img-top {
	padding: $margin-padding;
	height: 70%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	.col {
		height: 85%;
	}
}

.card {
	background-color: $card-color;
}

.button {
	display: flex;
	margin-top: $margin-padding;
	justify-content: center;
}

.row {
	.col {
		padding: 0 0 100px;
		margin: 10px;
	}
}

.btn {
	margin: 10px 1px;
	&:hover {
		background-color: $button-color;
		color: $font-btn;
		transition: background-color 0.3s, color 0.3s;
	}
}

.card {
	&:hover {
		transform: scale(1.05);
		box-shadow: $hover;
		transition: transform 0.3s, box-shadow 0.3s;
	}
}
