@function calculateMargin($margin) {
	@return $margin * 2;
}

@function calculatePadding($padding) {
	@return $padding * 5;
}

$primary-color: #f5f6f6;
$card-color: #EAEAEA;
$hover: 0 0 20px rgba(0, 0, 0, 0.2);
$font-btn: #fff;
$button-color: #000;

.container-fluid {
	background-color: $primary-color;
}

h2, h6 {
		margin-left: calculateMargin(10px);
		padding: calculatePadding(4px);
}

.input-group {
	margin: calculateMargin(10px);
}

.form-check {
	margin-left: calculateMargin(20px);
}

.designService {
	padding: calculatePadding(10px);
}

.card-img-top {
	padding: calculatePadding(4px);
	height: percentage(0.7);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	.col {
		height: percentage(0.85);
	}
}

.card {
	background-color: $card-color;
}

.button {
	display: flex;
	margin-top: calculateMargin(10px);
	justify-content: center;
}

.row {
	.col {
		padding: 0 0 100px;
		margin: 10px;
	}
}

.btn {
	margin: 10px 1px;
	&:hover {
		background-color: $button-color;
		color: $font-btn;
		transition: background-color 0.3s, color 0.3s;
	}
}

.card {
	&:hover {
		transform: scale(1.05);
		box-shadow: $hover;
		transition: transform 0.3s, box-shadow 0.3s;
	}
}
