@use "color";
@import "setting-button";

@function calculateMargin($margin) {
	@return $margin * 2;
}

@function calculatePadding($padding) {
	@return $padding * 5;
}

@mixin hover {
	&:hover {
		transform: scale(1.05);
		box-shadow: color.$hover;
		transition: transform 0.3s, box-shadow 0.3s;
	}
}

#judul {
	background-color: color.$primary-color;
}

h2 {
		margin-left: calculateMargin(10px);
		padding: calculatePadding(4px);
}

h6 {
	@extend h2;
}

.input-group {
	margin: calculateMargin(10px);
	padding-right: calculatePadding(10px);
}

.form-check {
	margin-left: calculateMargin(20px);
}

.designService {
	padding: calculatePadding(10px);
}

.card-img-top {
	padding: calculatePadding(4px);
	height: percentage(0.7);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	.col {
		height: percentage(0.85);
	}
}

.card {
	background-color: color.$card-color;
	@include hover;
}

.button {
	display: flex;
	margin-top: calculateMargin(10px);
	justify-content: center;
}

.row {
	.col {
		padding: 0 0 100px;
		margin: 10px;
	}
}


