@import 'variablesframes'; // Mengimpor variabel
@import 'mixinsframes'; // Mengimpor mixin

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@each $type in $product-type {
    .product-item.#{$type} {
        background-color: #ffffff;
        border: 1px solid #ddd;
        padding: 20px;
        width: 250px;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out;
        margin: 50px 20px 0;
        border-radius: 5px;

        @include product-text-color($type);

        &:hover {
            transform: scale(1.05);
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        h2 {
            font-size: 1.3rem;
            margin: 10px 0;
            @include product-text-color($type);
        }

        p {
            font-size: 1.1rem;
            @include product-text-color($type);
        }

        button {
            margin-top: 10px;
            @include button-background-color($type);
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }
    }
}