h2, h6 {
    padding: 20px;
  }

  .form-check {
    margin-left: 20px;
  }

  .designService {
    padding: 50px;
  }

  .row .col {
    padding: 50px;
    
  }

  .col {
    height: 550px;
    margin-bottom: 50px;
  }

  .btn {
    margin: 30px 5px;
  }


  .card:hover {
    transform: scale(1.05); /* Memperbesar kartu saat dihover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efek bayangan saat dihover */
    transition: transform 0.3s, box-shadow 0.3s; /* Animasi perubahan saat dihover */
  }
  
  .btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }