.nav-item{
    margin: 0 auto ;
  }

  .nav-pills .nav-link {
      color: #878E9D; /* Use the color code or name for dark text */
  }

  .corners{
      border-radius: 90px;
      background: #E6E8EC;
      padding: 8px 10px;
      width: 200px;   
  }

  h2, h6 {
    padding: 20px;
  }

  .form-check {
    margin-left: 20px;
  }

  .container {
    padding: 50px;
  }

  .row .col {
    padding: 50px;
    
  }

  .col {
    height: 700px;
    margin-bottom: 50px;
  }

  .btn {
    margin: 30px;
      
  }

  .card:hover {
    transform: scale(1.05); /* Memperbesar kartu saat dihover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efek bayangan saat dihover */
    transition: transform 0.3s, box-shadow 0.3s; /* Animasi perubahan saat dihover */
  }
  
  .btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }