body {
    font-family: Arial, sans-serif;
 }

   .read-more-section {
    margin-bottom: 20px;
    text-align: center;
 }
   
   .text {
    display: none;
 }

   .initial-text {
    margin-bottom: 0;
 }

   .additional-text {
    display: none;
 }

  .bg-responsive{
   background-image: url($url);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .card {
   display: inline-block;
 }

 .card img {
   flex: 4;
   max-width: 50%;
   margin-right: 20px;
   max-height: 280px;
 }

 .card text{
   font-size: large;
   letter-spacing: normal;
   line-height: normal;  
 }

 .Tag{
   width: 100px;
   height: 50px;
 }

   p {
    margin-top: 20px;
 }
