body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sectionView{
    padding: 10vh 0;
}

.kolomview{
    margin: 5%;
    width: 40%;
    padding-left: 5%;
}

.btn-rounded {
    padding: 5px 25px;
    border-radius: 50px!important;
}

.negmar{
    margin-top: -50px;
}