* {
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
    .sectionView{
        padding: 5vh 0;
    }
    
    .imgWidth{
        width: 90%;
    }    
}
@media only screen and (min-width: 601px) {
    .sectionView{
        padding: 10vh 0;
    }

    .imgWidth{
        width: 70%;
    }

    .kolomview{
        margin: 5%;
        width: 40%;
        padding-left: 5%;
    }
    
    .negmar{
        margin-top: -50px;
    }
}

.btn-rounded {
    padding: 5px 25px;
    border-radius: 50px!important;
}

.custom-card {
    transition: transform 0.2s;
    cursor: pointer;
}

/* Apply the scaling transformation on hover */
.custom-card:hover {
    transform: scale(1.05); /* Increase the size by 5% on hover */
}

